# Django
SECRET_KEY=your-secret-key
DEBUG=True

# Database
DB_NAME=taskmanager
DB_USER=root
DB_PASSWORD=yourpassword
DB_HOST=db
DB_PORT=3306

# RabbitMQ 
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Celery
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//